<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Portal</title>
    <link rel="stylesheet" href="../static/admin.css" />
</head>

<body>
    <h1 id="heading-admin">ADMIN PORTAL</h1>

    <div id="attendance-button-div">
        <button type="button" id="attendance-button"><a href="/attendance" target="_blank">TAKE ATTENDANCE</a></button>
    </div>
    <div id="excel-button-div">
        <button type="button" id="excel-button"><a href="/excel">OPEN EXCEL SHEET</a></button>
    </div>
    <div id="logout-button-div">
        <button type="button" id="logout-button"><a href="/logout">LOG OUT</a></button>
    </div>
    

</body>

</html>