<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance Time!!</title>
    <link rel="stylesheet" href="../static/att.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-8" offset-lg-2>
                <h3 class="att-head">Attendance Time</h3>
                <img src="{{ url_for('video_feed') }}" width="50%" id="img-att">
            </div>
        </div>
    </div>
</body>

</html>