<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Face Recognition</title>
    <link rel="stylesheet" href="../static/main.css" />
    <link rel="stylesheet" href="responsive.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script
      src="https://kit.fontawesome.com/6cee50b57c.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/643d307bbb.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Koulen&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="main-container">
      <div id="nav-container">
        <div id="logo">
          <img src="../static/images/edited_logo.png" />
        </div>
        <div id="nav-menu">
          <ul>
            <li><a href="#attendance-section" class="nav-list">ATTENDANCE TRACKER</a></li>
            
          </ul>
        </div>
      </div>
      <div id="heading-text">
        FACE RECOGNITION<br /><span>& its Applications</span>
      </div>
      <div id="main-photo"></div>
    </div>
    <section id="attendance-section">
      <div id="attendance-desc">
        <h1 id="attendance-heading">ATTENDANCE MANAGEMENT SYSTEM</h1>
        <p id="attendance-para">
          This smart Attendance Tracking System uses the face recognition
          technology to mark your attendance and record it in an excel sheet.
          Click on the get started button to start!
          Once you click the button, your webcam will be popped up on the screen and attendance
          will be marked by recognising your face.
          Isn't it amazing?
        </p>
        <div id="buttons-attendance">
          <button id="start-button"><a href="/register" target="__blank">Register/Login to Get Started!</a>
            
          </button>
        </div>
      </div>
    </section>


<footer>

    <div id="social-icons">
      <ul id="social-icons-list">
          <li>
              <a href="https://www.linkedin.com/">
                  <i class="fab fa-linkedin"></i>
              </a>
          </li>
          <li>
              <a href="https://www.facebook.com/">
                  <i class="fab fa-facebook-square"></i>
              </a>
          </li>
          <li>
              <a href="https://www.instagram.com/">
                  <i class="fab fa-instagram"></i>
              </a>
          </li>
          <li>
              <a href="https://twitter.com/home">
                  <i class="fab fa-twitter-square"></i>
              </a>
          </li>
      </ul>
  </div>

</footer>
  </body>
</html>
