<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Portal</title>
    <link rel="stylesheet" href="../static/user.css" />
</head>

<body>
    <h1 id="heading-user">USER PORTAL</h1>
<h3 id="roll">Roll Number: 123456</h3>
    <h3 class="class-total">Total Classes = 00</h3>
    <h3 class="class-total">Total Attended Classes = 00</h3>
    <table border="1" id="attendance-table">
        <caption id="att-heading">ATTENDANCE RECORD</caption>
        <thead>
            <tr>
                <th colspan="31" class="table-heading-user">
                    <h2>Date</h2>
                </th>
            </tr>
            <tr>
                <th class="date-heading">
                    <h3>01</h3>
                </th>
                <th class="date-heading">
                    <h3>02</h3>
                </th>
                <th class="date-heading">
                    <h3>03</h3>
                </th>
                <th class="date-heading">
                    <h3>04</h3>
                </th>
                <th class="date-heading">
                    <h3>05</h3>
                </th>
                <th class="date-heading">
                    <h3>06</h3>
                </th>
                <th class="date-heading">
                    <h3>07</h3>
                </th>
                <th class="date-heading">
                    <h3>08</h3>
                </th>
                <th class="date-heading">
                    <h3>09</h3>
                </th>
                <th class="date-heading">
                    <h3>10</h3>
                </th>
                <th class="date-heading">
                    <h3>11</h3>
                </th>
                <th class="date-heading">
                    <h3>12</h3>
                </th>
                <th class="date-heading">
                    <h3>13</h3>
                </th>
                <th class="date-heading">
                    <h3>14</h3>
                </th>
                <th class="date-heading">
                    <h3>15</h3>
                </th>
                <th class="date-heading">
                    <h3>16</h3>
                </th>
                <th class="date-heading">
                    <h3>17</h3>
                </th>
                <th class="date-heading">
                    <h3>18</h3>
                </th>
                <th class="date-heading">
                    <h3>19</h3>
                </th>
                <th class="date-heading">
                    <h3>20</h3>
                </th>
                <th class="date-heading">
                    <h3>21</h3>
                </th>
                <th class="date-heading">
                    <h3>22</h3>
                </th>
                <th class="date-heading">
                    <h3>23</h3>
                </th>
                <th class="date-heading">
                    <h3>24</h3>
                </th>
                <th class="date-heading">
                    <h3>25</h3>
                </th>
                <th class="date-heading">
                    <h3>26</h3>
                </th>
                <th class="date-heading">
                    <h3>27</h3>
                </th>
                <th class="date-heading">
                    <h3>28</h3>
                </th>
                <th class="date-heading">
                    <h3>29</h3>
                </th>
                <th class="date-heading">
                    <h3>30</h3>
                </th>
                <th class="date-heading">
                    <h3>31</h3>
                </th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

</body>

</html>